.subscriber_list_page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 39px;
    width: 70vw;
    height: 42vh;
}

.subscriber_list_page h2{
    color: rgba(128, 128, 128, 0.849);
    font-weight: 650;
}

.subs_count_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
}

.subs_box{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 8px 14px;
    font-size: 19px;
    width: 170px;
}

.subs_box:first-child{
    border: 1px solid rgb(160, 155, 155);
    
}
.subs_box:nth-child(2){
    border: 1px solid green;
    
}
.subs_box:nth-child(3){
    border: 1px solid orange;
    
}

.subs_box span:first-child{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 3px;
}

.subs_count_box span:nth-child(2){
    font-size: 21px;
    color: rgba(104, 98, 98, 0.795);
}

.sub_table_head{
    width: 100%;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 12% 22% 28% 24% 15%;
    height: 50px;
    align-items: center;
    font-size: 19px;
    border-radius: 5px;
    color: rgba(46, 43, 43, 0.808);
}

.sub_table_head span{
    text-align: center;
}


.subs_details{
    position: relative;
    left: 3vw;
    top: -29px;
}







