.service_list_page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 39px 25px;
    width: 75vw;
    height: 25vh;
    padding: 0 8px;
}

.service_list_page h2{
    color: rgba(128, 128, 128, 0.849);
    font-weight: 650;
}

.services_table_head{
    width: 100%;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 5% 25% 10% 10% 15% 10% 10% 10% 5%;
    height: 63px;
    align-items: center;
    font-size: 17px;
    border-radius: 5px;
    color: rgba(46, 43, 43, 0.808);
}

.services_table_head span{
    text-align: center;
}


.service_details_body{
    position: relative;
    left: 3vw;
    top: -27px;
}

.no_services{
    font-size: 1.5rem;
    margin-top: 80px;
    color: grey;
    text-align: center;
}