.request_details{
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 8% 20% 33% 18% 20%;
    height: max-content;
    align-items: center;
    font-size: 17px;
    border-radius: 5px;
    color: rgba(46, 43, 43, 0.808);
    margin-bottom: 35px;
    margin-left: -10px;
}

.request_details span{
    text-align: center;
    word-wrap: break-word;
    /* width: inherit */
    
}