
@root{
    placeholder-width: 200px;
    
}


.gyan_container span{
    color: red;
}

.main_page_contents{
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30vh;
}

.form_data_main{
    width: 100%;
    text-align: center;
    float: left;
    margin-top: -25px;
}

.form_data_main::before{
    content: "anchors.in/";
    position: absolute; 
    font-size: 1.4rem;
    color: rgb(93, 91, 91);
    padding: 10px;
    font-weight: 700;
    padding-left: 5px;
    border: none;
}

.input_anchors {
  padding-left: 124px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 45%;   
  font-size: 1.4rem;
  font-weight: 700;
  border: 2px solid grey;
  border-right: none;
  margin: auto;
  height: 50px;

}

.form_data_main button{
    background-color: red;
    color: white;
    width: 20%;
    font-size: 1.2rem;
    font-weight: bold;
    height: 55px;
    cursor: pointer;
    border: none ;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.main_page_contents>span{
    font-size: 1.1rem;
    font-weight: bold;
    color: grey;
    margin-top: 20px;
}


@media (max-width: 750px){
    .gyan_container{
        font-size: 1.6rem;
        width: 90%;
    }

    .creator_login_header button{
        width: 160px;
        border-radius: 5px;
        font-size: 1.1rem;
        padding: 1px;
    }

    .main_page_contents{
        width: 90%;
    }

    .form_data_main::before{
        font-size: 1.1rem;
        padding: 13px;
    }
    
    .input_anchors{
        padding-left: 105px;
        width: 70%;
        font-size: 1.1rem;
        border: 2px solid grey;
        border-radius: 6px;
    }

    .form_data_main button{
        width: 30%;
        font-size: 1.2rem;
        width: 60%;
        margin-top: 15px;
        border-radius: 5px;
        height: 45px;
    }

    .main_page_contents>span{
        font-size: 1rem;
        margin-top: 9px;
    }
}

