.modal-content {
    padding: 25px 15px;
    min-width: 515px;
}
/*  */
.modal_heading{
    margin: 0 10px;
}
.modal_heading p {
    color: #9f9898;
    width: 80%;
    margin: 20px auto;
}
.modal_heading h5 {
    color: #9f9898;
}
.modal_buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.modal_buttons button {
    width: 150px;
}