@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.model{
    width: 82vw;
    height: 100vh;
    background-color: #ffffff32;
    position: fixed;
    top: 0;
    margin-left: -40px;
    display: flex;
    align-items: center;
    z-index: 9999;
    justify-content: center;
}

.model_logout{  
    width: 72%;
    height: 93vh;
    background-color: #84808082;
    position: absolute;
    left: 19vw;
    top: 2vh;
}

.logout_model_logout{
    width: 100vw;
    height: 100vh;
    background-color: #87838347;
    position: fixed;
    z-index: 9999;
    display: grid;
    place-items: center;
    
}

.model_main_box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 530px;
    height: 300px;
    /* margin-top: 20vh; */
    /* margin-left: 17vw; */
    border: 2px solid rgb(110, 108, 108);
    border-radius: 9px;
}

.model_question{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: grey;
}

.model_gyan{
    font-size: 1.1rem;
    width: 350px;
    margin-top: -20px;
    color: rgb(138, 135, 135);
    text-align: center;
}

.model_buttons{
    display: flex;
    justify-content: space-between;
    width: 80%;

}

.model_button{
    width: 157px;
    height: 47px;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #808080ba;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.model_button:nth-child(2){
    border: 2px solid red;
    color: red;
}

.model_button:hover{
    transform: scale(1.05);
}


.loading_bar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    background-color: rgba(248, 245, 245, 0.984);
    z-index: 999;
}

.loader_home{
    width: 5rem;
    display: inline-block;
    margin: auto;
    -webkit-animation: rotating 1.5s linear infinite;
}

.loadbar2{
    position: fixed;
    top: 10vh;
    bottom: 2vh;
    left: 19vw;
    right: 5vw;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
}

.load2{
    width: 2rem !important;
}


.fb_modal{
    position: fixed !important;
    width: 100vw;
    height: 150vh;
    top: 0; 
    left: 0;
}

.fb_modal_main_box{
    margin-top: 10vh;
    /* margin-left: 30vw; */
    width: 600px;
    height: 380px;
    padding: 10px;
    border-radius: 10px !important;
    font-family: 'Roboto',sans-serif;
    animation: popout 0.7s ease-in-out forwards;
    opacity: 0;
    }

.fb_span_one{
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: rgb(81, 79, 79);
    width: 80%;
    margin-top: -35px;
}

.fb_span_two{
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
    word-wrap: break-word;
    margin: 0;
    padding: 0;

}

.stars_model{
    height: max-content;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fb_modal_main_box textarea{
    width: 70%;
    min-height: 20%;
    border-radius: 10px;
    resize: none;
    padding: 15px;
    font-size: 1.2rem;
    max-height: 35%;

}

.fb_modal_main_box textarea:focus{
    outline: none;
}


.stars_model i{
    color: #afacacd4 ;
    border: 1px solif black;
    cursor: pointer;
}

.fb_model_button{
    width: 40%;
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: 10px;
    margin: auto !important;
    background-color: white;
    color: red;
    border: 1px solid red;
}

.fb_modal_main_box > i{
    position: relative;
    left: 16vw;
    bottom: 10px;
    color: gray;
    transition: transform 0.3s ease;
    cursor: pointer;
}


@keyframes popout{
    from{
        position: absolute;
        opacity: 0.4;
        bottom: 10px;
    }

    to{
        position: absolute;
        opacity: 1;
        bottom: 17vh;
    }
}

.fb_modal_main_box i:hover{
    transform: scale(1.18);
    color: red;
}

/* Email Modal */

.email_box{
    width: 60vw;
    height: 90vh;
    position: fixed;
    top: 3vh !important;
    background-color: white;
    
}   


.email_form{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: max-content;
}

.email_form > div{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.email_box label{
    color: rgba(112, 112, 112, 0.875);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.email_box div input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgba(199, 199, 202, 0.599);
    font-size: 1.1rem;
    padding: 2px 8px;
    box-sizing: border-box;
}

.email_box div input:focus{
    outline: none;
}

.editorinemail{
    max-height: 42vh;
    overflow-y: scroll;
}

.email_subs{
    color: rgb(44, 188, 44);
    font-size: 1.2rem;
    text-align: left;
    font-weight: 500;
    width: 80%;
    margin-top: -25px;
}

.email_button{
    background-color: red;
    color: white;
    border: none;
    font-weight: 700;
    padding: 0 25px;
}


/* thaks model css */
.thanks_model{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

.thanks_model > i{
    position: relative;
    left: 180px;
    top: -20px;
    color: gray;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.thanks_model > i:hover{
    transform: scale(1.18);
    color: red;
}



.thanks_model_header{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px 0;
    text-align: center;
}

.thanks_model_header i{
    margin-bottom: 40px;
}

.thanks_model_content{
    color: #6A6161;
    font-size: 1.2rem;
    text-align: center;
    margin: 10px 0;
    font-weight: 400;
}

.thanks_model_button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 110%;
}

.thanks_model_button button{
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin: 10px 15px;
    cursor: pointer;
}

.whatsapp_btn{
    background-color: #25D366;
}

.linkedin_btn{
    background-color: #0A66C2;
}


@keyframes rotating{
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);

    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);

      }
}


@media (max-width: 450px) {

    
    .model_main_box{
        width: 90vw;
        height: max-content;
        position: absolute;
        margin-left: 0;
        text-align: center;
    }

    .model_question{
        font-size: 1.2rem;
        margin: 16px 0;
    }
    
    .model_gyan{
        font-size: 1.1rem;
        width: 80%;
        margin: 3px 0;
    }

    .model_buttons button{
        width: 22vw;
        margin: 20px 0;
    }

    .fb_modal{
        padding: 0;
        padding-left: 7px;
    }

    .fb_model_main_box{
        width: 60vw !important;
    }

    .fb_modal_main_box > i{
        left: 40vw;
        top: 12px;
    }

    .fb_span_one{
        margin: 10px 0;
        font-size: 1.1rem;
        width: 90%;
    }

    .stars_model{
        width: 98%;
        margin: 0;
        margin-top: 15px !important;
        
    }

    .stars_model i{
        font-size: 1.4rem;
    }

    .fb_modal_main_box textarea{
        width: 85%;
        font-size: 0.9rem;
        padding: 9px;
        min-height: 15vh;
        max-height: 30vh;
        margin: 15px 0;
        border: 1px solid rgb(214, 214, 214);
        margin-top: 30px;
    }


    .fb_model_button{
        width: 60% !important;
        font-size: 1.1rem;
        margin-bottom: 10px !important;
    }

    .thanks_model{
        padding: 15px;
    }

    .thanks_model >i {
        top: 16px;
        left: 130px; 
    }

    .thanks_model_header{
        font-size: 1.3rem;
    }
    .thanks_model_content{
        font-size: 1.1rem;
    }
    .thanks_model_button{
        width: 100%;
    }
    .thanks_model_button button{
        font-size: 1.1rem;
        padding: 13px;
    }
}


