@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root{
    --font: "'Inter', sans-serif"
}

.creator_info textarea{
    min-height: 18vh;
    font-size: 18px;
    font-family: var(--font);
}

.creator_info label{
    font-size: 20px;
    font-family: var(--font);
}

.creator_info input{
    font-size: 18px;
    font-family: var(--font);
}

