.creator_login{
    width: 100vw;
    height: 100vh;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.creator_login_header{
    width: 100vw;
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    margin-top: 2vh;
    margin-left: 4vw;
  }
  
  .logo img{
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 12px;
  }
  
  .logo span{
    font-family: 'Amita', cursive;
    font-size: 2.0rem;
    font-weight: 700;
  }

.creator_login_header button{
    width: 202px;
    height: 38px;
    font-size: 1.2rem;
    background-color: white;
    border: 2px solid red;
    color: red;
    font-weight: 700;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    right: 5vw;
    transition: transform 0.5s ease;
}

.creator_login_header button:hover{
    transform: scale(1.07);
    color: white;
    background-color: red;

}

.or_section{
    font-size: 1.3rem;
    color: rgba(141, 135, 135, 0.868);
    display: flex;
    align-items: center;
    
}

.or_section hr{
    width: 13vw;
    height: 1px;
    background-color: rgba(141, 135, 135, 0.701);
    position: relative;
    top: 0px;
    margin: -10px 8px;
}


.main_page_login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 70vh;
}


.gyan_container{
    font-size: 2.8rem;
    position: relative;
    width: 50vw;
    top: -11vh;
    font-weight: bold;
}

.login_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 35vw;
    height: 70vh;
    position: relative;
    top: -11vh;
    border-radius: 43px;
    
}

.login_container img{
    width: 7rem;
    height: 7rem;
    border-radius: 150px;
    margin-top: -10px;
}

.login_container h2{
    font-size: 1.7rem;
    margin-top: -10px;
}

.login_container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    width: 100%;

}

.login_container button{
    width: 87%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    font-size: 1.4rem;
    text-align: left;
    padding-left: 40px;
    padding-right: 25px;
    cursor: pointer;
}


.linkedin_auth_link{
    color: blue;
    border: 2px solid blue;
    margin-top: 15px;
}

.google_auth_link{
    color: rgb(93, 93, 95);
    border: 2px solid rgb(93, 93, 93);
    margin-top: 0px;
}

.login_container button i{
    margin-right: 35px;
}

.input_cred{
    width: 78%;
    height: 47px;
    background-color: white;
    border: 1px solid rgba(99, 99, 105, 0.755);
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 30px;
    padding-right: 25px;
}

.input_cred{
    margin-bottom: 30px;
}

.login_container input[type=checkbox]{
    width: 1.2rem;
    height: 1.2rem;
}

.login_check{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: -10vw;
    top: -3vh;
}

.login_check label{
    font-size: 1.2rem;
    margin-left: 12px;
    color: rgb(106, 104, 104);

}

.login_submit{
    width: 88%;
    height: 57px;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    color: red;
}