@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.profile_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding-bottom: 14px;
  border-bottom: 1px solid #F0EAEA;
  background-color: white;
  z-index: 99999;
  font-family: 'Roboto', sans-serif !important;
}

.profile_page{
  display: flex;
  /* flex-direction: column; */
  font-family: 'Roboto', sans-serif !important;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  margin-top: 2vh;
  margin-left: 4vw;
}

.logo img{
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 12px;
}

.logo span{
  font-family: 'Roboto', sans-serif !important;
  font-size: 2rem;
  font-weight: 400;
}


.user_login {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  margin-right: 5vw;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}

.user_login span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(53, 50, 50);
  margin-top: 15px;

}

.login_button_user{
  cursor: pointer;
  margin-top: 10px;
  background-color: #6A6161;
  color: white !important;
  border-radius: 10px;
  font-weight: 400 !important;
  width: 70px;
  padding: 2px 10px;
  display: inline-block !important;
  margin: auto !important;
  cursor: pointer;

} 


.user_login span i{
  margin-left: 15px;
  cursor: pointer;
}

.hamburger-react{
  display: none;
}

.user_login span i:hover{
  color: red;
}

.user_logout{
  font-size: 1.3rem;
  background-color: white;
  padding: 8px 17px;
  font-weight: bold;
  color: red;
  position: absolute;
  top: 10vh;
  right: 2vw;
  border-radius: 7px;
  border: 1px solid grey;
  display: none;
  user-select:none;
  cursor:pointer
}
.hamburger-menu{
  display: none;
  width: 100vw;
  position: absolute;
  z-index: 999;
  top: 70px;
  background-color: #e7e6e675;
  left: 0;
}

.hamburger-item{
  list-style: none;
  padding: 12px 0;
  font-size: 1.2rem;
}

/* Creator profile css */

.profile_page_left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  position: sticky;
  left: 0;
  top: 10vh;
  width: 35vw;
  margin: 0;
}

.creator_box_profile{
  width: 85% !important;
  margin-top: 8px !important;
  top: 70px !important;
}

.profile_data{
  width: 95% !important;
}

.profile_pic_creator {
  width: 6rem !important;
  height: 6rem !important;
}


.creator_name {
  font-size: 1.4rem !important;
  }

.creator_tagline {
  font-size: 1.2rem !important;
  margin-bottom: 15px !important;
  width: 93% !important;
}


.linkedin_icon {
  color: #0a66c2;
}
.youtube_icon {

  color: #ff0000;
}
.twitter_icon {
  
  color: #1da1f2;
}
.insta_icon {
  
  color: #c13584;
}
.fb_icon {
  
  color: #0e63b7;
}
.telegram_icon{
  color: #0088CC;
}

.subscribe_now {
  width: 13rem;
  height: 6vh;
  font-size: 1.1rem;
  border: 2px solid red;
  background-color: white;
  border-radius: 9px;
  color: red;
  font-weight: 600;
  margin-top: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#subscribe{
  color: grey;
  border: 2px solid grey;
  display: none;
}

.profile_data span:last-child {
  font-size: 0.8rem;
  color: rgb(96, 94, 94);
  margin-top: 6px;
}

.nav_left_side_profile{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Roboto',sans-serif;
  color: #6A6161;
  margin-top: 30px;
  margin-bottom: 25px;
  position: sticky;
  top: 500px;

}

.nav_left_side_profile span{
  margin: 1px 0;
  cursor: pointer;
  width: 110%;
  padding: 14px 25px;
}

.nav_left_side_profile span:hover{
  color: red;
  background-color: #F5F5F5;
}


.profile_page_right{
  width: 70vw;
  display: flex;
  margin-left: 25px;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: red; */
}


.about_creator_profile {
  width: 90%;
  /* margin: 30px auto; */
}


.about_creator_profile div {
  position: relative;
  left: 5px;
  margin-bottom: 28px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px;
  font-family: 'Roboto', sans-serif !important;
}

.display_services_list {
  max-width: 75%;
  display: grid;
  gap: 25px;
  /* grid-column-gap: 15px; */
  /* margin: 20px auto; */
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding-bottom: 100px;
}

.item_displayed{
    width: 23vw;
    height: 44vh;
    border: 2px solid rgb(222, 218, 218);
    border-radius: 12px;
    display: flex;
    background-color:  #F5F5F5;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    box-shadow: 0px 2px 20px 1px #88888886;
}

.item_displayed img{
    width: 102%;
    height: 60%;
    max-height: 300px;
}

.item_displayed h2{
    margin: 15px 15px;
    font-size: 1.2rem;
    width: 80%;
    overflow-wrap:break-word;
    /* color: rgba(128, 128, 128, 0.799); */
    color: black;
    font-weight: 400;
}

.item_displayed p{
    display: inline;
    border-radius: 5px;
    background-color: #a09c9e8c;
    color: rgba(72, 70, 70, 0.634);
    padding: 2px 6px;
    margin: 0 12px;
    margin-top: 0.9rem;
    margin-bottom: 1.6rem;
    
}

.free_tag_dispalyed{
    background-color: rgba(126, 235, 126, 0.766);
    font-size: 1.1rem;
    width: 2.9em;
    text-align: center;
    color: rgb(72, 70, 70);
    border-radius: 5px;
    position: relative;
    left: 10%;
    top: 7%;
}

.paid_tag_dispalyed{
    background-color: rgba(255, 166, 0, 0.671);
    font-size: 1.1rem;
    width: 2.9em;
    text-align: center;
    color: rgb(72, 70, 70);
    border-radius: 5px;
    position: relative;
    left: 10%;
    top: 7%;
    
}


/* User COmments css */

.user_comments_lists{
  width: 93%;
  display: block;
  padding-bottom: 50px;
}

.review_header{
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
}

.slide_button{
 display: flex;
 align-items: center;
 width: 80px;
 justify-content: space-between;

}

.slide_button span{
  padding: 5px 5px;
  box-sizing: border-box;
  border-radius: 30px;
}

.slide_button span:active{
  background-color: grey;
}


.comment_box{
  border: none;
  background-color:  #F5F5F5;
  padding: 20px;
  /* box-shadow: 0px 2px 20px 1px #88888886; */
  font-family: 'Roboto',sans-serif !important;
}

.comment_box section{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.headers_tag{
  color: red;
  width: 100%;
  margin: 3vh auto;
  font-size: 1.3rem;
 
}

.headers_tag:nth-child(1){
  width: 70vw;
}

.review_name_stars{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 23px;
}


.user_profile_pic{
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 150px;
}

.user_name{
  font-size: 1.1rem;
  font-weight: 700;
  color: black;
}

.review_stars{
  margin-top: 5px;
}

.review_stars i{
  color: #FFA500;
  margin-right: 3px;
}

.fb_desc{
  font-size: 1.1rem;
  margin-left: 10px;
  word-wrap: break-word;
}

/* Mobile Navigation menu */

.mobile_nav_menu{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  color: #6A6161;
  font-family: 'Roboto',sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  height: 50px;
  cursor: pointer;
  position: fixed !important;
  top: 0px !important;
  background-color: rgba(255, 254, 254, 0.911);
  z-index: 99999;
  display: none;
  
}
.mobile_nav_menu a{
  padding: 5px 6px !important;
  width: 15px;
  text-decoration: none;
  color: #6A6161;
  background-color: red !important;
}


.active_nav_item{
  color: red;
  background-color: #F5F5F5;
}

/* requesting query css */

.request_query_section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 30px auto;
  margin-bottom: 30vh;
}

.request_query_section >span{
  font-size: 1.1rem;
  font-weight: 400;
}

.request_query_section>span:nth-child(3){
  color: grey;
}

.request_query_section textarea{
  padding: 10px;
  border: 2px solid rgba(196, 195, 195, 0.692);
  border-radius: 10px;
  font-size: 1.1rem;
  width: 50%;
  resize: none;
  min-height: 13vh;
  margin: 15px 0;
}

.request_query_section > div:first-child{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.span_t1{
  font-size: 0.7rem;
  margin-top: -20px;
  margin-bottom: 22px;
}

.selection span{
  margin-right: 15px;
  font-size: 1.2rem;
  color: grey;
  margin-top: 32px;
  -webkit-user-select: none;
}


.checkbox_yesno{
  font-size: 1.2rem;
  margin-right: 5px;
}



.request_query_section button{
  font-size: 1.2rem;
  padding: 5px 30px;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-weight: 400;
  border: 2px solid red;
  margin-top: 30px;
  cursor: pointer;
}


@media (max-width: 1180px) {
    .display_services_list {
      grid-template-columns: repeat(2, 1fr);
      max-width: 60vw;
    }

    .item_displayed{
      width: 25vw;
    }

    .creator_profile_details {
      width: 65vw;
    }
  }

@media (max-width: 880px) {
    .display_services_list {
      grid-template-columns: repeat(2, 1fr);
      max-width: 65vw;
    }

    .item_displayed{
      width: 35vw;
    }

    .creator_profile_details {
      width: 73vw;
    }
  }

@media (max-width: 700px) {
    .display_services_list {
      grid-template-columns: repeat(1, 1fr);
      max-width: 82vw;
    }

    .item_displayed{
      width: 50vw;
    }

    

    .dropdown_arrow{
      display: none;
    } 

    .creator_profile_details {
      width: 73vw;
    }
  }

@media (max-width: 550px) {

    .profile_page{
      flex-direction: column;
      align-items: flex-start;
    }

    .review_header{
      width: 85vw;
      margin-left: 5vw;
    }

    #services{
      width: 100%;
      
    }

    .profile_page_left{
      position: static;
      width: 100vw;
      height: max-content;
    }

    .profile_page_right{
      width: 100vw;
      margin: 0;
      align-items: flex-start;
    }
    
    .item_displayed{
      width: 88vw;
      height: 45vh;
      margin: 10px 0;

    }
    .active_nav_item{
      color: red;
      border-bottom: 2px solid red;
    }

    .display_services_list{
      margin-top: 20px;
      max-width: 100%;
      padding-bottom: 50px;
      place-items: center;
    }

    .profile_header{
      padding-bottom: 1px !important;
      position: static;
    }

    .logo{
      margin-bottom: 2vh;
    }

    .logo img{
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 7px;
    }
    
    .logo span{
      font-size: 1.3rem;
    }


    .creator_profile_details{
      width: 100vw !important;
      margin: 0;
      margin-top: 23px;
      align-items: center;
      text-align: center;
    }

    .main_details_profile{
      flex-direction: column;
      width: 90%;
      background-color: #F9F9F9;
      border-radius: 5px;
      padding: 15px 0
      
    }
    
    .profile_data{
      align-items: center;
      margin: 0;
      margin-top: 14px;
      width: 100%;
      
    }

    .profile_pic_creator{
      width: 7rem;
      height: 7rem;
    }

    
    .creator_name{
      font-size: 1.4rem;
      margin-bottom: 15px;
    }

    .creator_tagline{
      font-size: 1.1rem;
      text-align: center;
      color: black;
      line-height: 28px;
    }

    .hamburger-react{
      display: inline;
    }

    .user_login span i{
      display: none;
    }

    .user_login_name{
      width: max-content;
      margin-top: -4px !important;
      margin-right: -18px;

    }

  
    .profile_data section{
      justify-content: center;
    }

    .profile_data section a{
      margin-left: 10px;
    }

    .profile_data span:last-child{
      text-align: center;
    }


    .about_creator_profile{
      width: 100%;
      margin-top: 20px;
    }

    .login_button_user{
      margin-top: -5px !important;
    }

    .subscribe_now{
      width: 16rem;
      border-radius: 8px;
      font-size: 1.1rem;
    }

    .about_creator_profile div{
      font-size: 1rem;
      left: 0;
      margin: auto;
      width: 90%;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .user_comments_lists{
      width: 100%;
      margin-bottom: 60px;
    }
    
    .comment_box{
      width: 90%;
      padding: 15px;
      margin: 10px auto;
      box-shadow: none;
      min-height: 30vh;
      box-sizing: border-box;
    }

    .user_profile_pic{
      width: 2.8rem;
      height: 2.8rem;
    }

    .user_name{
      font-size: 1.2rem;
    }


    .headers_tag{
      margin: 8px auto;
      width: 90vw !important;
    }

    .request_query_section{
      margin-top: 40px;
      width: 90vw;
    }

    .request_query_section > span{
      font-size: 1rem;
    }

    .span_t1{
      margin-top: -5px !important;
      
    }

    .request_query_section textarea{
      font-size: 1rem ;
      width: 85%;
      min-height: 25vh;
      padding: 20px;
    }

    .request_query_section button{
      font-size: 1.1rem;
      margin-top: 25px;
      width: 40vw;
    }


  }

  @media (max-width: 470px) {


    .creator_profile_details{
      width: 80vw ;
    }

    .user_login{
      margin-bottom: 2vh;
      width: 40vw;
      font-size: 1.1rem;
      
    }

    .user_logout{
      font-size: 1.1rem;
      top: 12vh;
      right: 3vw;
    }

    


  }
  

