.review_list_page{
    width: 70vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 39px;
    margin-bottom: 10px;
}

.review_list_page h2{
    color: rgba(128, 128, 128, 0.849);
    font-weight: 650;
}

.review_table_head{
    width: 106%;
    background-color: #eeeeee;
    display: grid;
    /* grid-template-columns: 5% 18% 10% 10% 12% 10% 10% 9% 9% 7%; */
    grid-template-columns: 5% 15% 15% 10% 27% 10% 18%;
    height: 63px;
    align-items: center;
    font-size: 17px;
    border-radius: 5px;
    color: rgba(46, 43, 43, 0.808);
}

.review_table_head span{
    text-align: center;
}


.review_details_body{
    width: 74vw;
    height: max-content;
    margin-left: 45px;
}