.subs_details_body{
    width: 92%; 
    display: grid;
    grid-template-columns: 12% 22% 28% 24% 15%;
    height: 50px;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    color: rgba(46, 43, 43, 0.808);
}

.subs_details_body span{
    text-align: center;
}

.Free_type_tag{
    border: 1px solid orange;
    padding: 2px 8px;
    border-radius: 5px;
    width: 30px;
    position: relative;
    left: 50px;
}

.Paid_type_tag{
    width: 30px;
    position: relative;
    left: 50px;
    border: 1px solid green;
    padding: 2px 8px;
    border-radius: 5px;
}