@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root{
    --font: "'Inter', sans-serif"
}

.loader{
    margin: 30vh 30vw;
    position: absolute;
}

.create_box{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    height: max-content;
    width: 76vw;
    justify-content: space-between;
}

.create_box h1{
    color: rgba(128, 128, 128, 0.755);
    font-size: 26px;
}

.entry_labels{
    margin-top: 10px !important;
}

.entries{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.entries div{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    font-family: var(--font);
    
}

.editor_entry_labels{
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: gray;
    width: 100%;
    font-family: var(--font);

}

.editor_entry_labels small{
    color: red;
}

.entries div label small{
    color: red;
}

.text_editor{
    border-radius: 10px;
}


.left_entry_box{
    display: flex;
    flex-direction: column;
    font-size: 21px;
    color: rgba(128, 128, 128, 0.91);
}

.right_entry_box{
    display: flex;
    flex-direction: column;
    font-size: 21px;
    color: rgba(128, 128, 128, 0.91);
}

.left_entry_box input{
    width: 470px;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 1.1rem;
    font-family: var(--font);
    border: 2px solid rgba(128, 128, 128, 0.471);
    border-radius: 5px;
    padding-left: 25px;
    
}

.left_entry_box textarea{
    width: 470px;
    height: 32px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 1.1rem;
    font-weight: 100;
    font-family: var(--font);
    border: 2px solid rgba(128, 128, 128, 0.471);
    border-radius: 5px;
    padding-left: 25px;
    resize: none;
    padding-top: 12px;
    display: block;
    overflow: hidden;
}


.right_entry_box input{
    width: 470px;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 1.1rem;
    font-family: var(--font);
    border: 2px solid rgba(128, 128, 128, 0.471);
    border-radius: 5px;
    padding-left: 25px;

}

.right_entry_box select{
    width: 507px;
    height: 46px;
    margin-bottom: 23px;
    margin-top: 12px;
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgba(128, 128, 128, 0.471);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}


.submit_button{
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
    width: 250px;
    height: 45px;
    font-size: 17px;
    color: red;
    font-weight: 400;
    padding: 7px;
    margin-left: 440px;
    margin-top: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

#smrp {
    display: none;
}
#ssp{
    display: none;
}
.price_label{
    display: none;
}


/* tag container */

.tag-container {
    border: 2px solid #ccc;
    border-radius: 5px;
    background: #fff;
    margin-top: 11px;
    width: 462px !important;
    min-height: 80px !important;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: center;
    gap: 13px;
    padding: 5px 20px !important; 
}
.tag {
    display: inline-block !important;   
    font-weight: 500;
    width: fit-content !important;
    padding: 5px 6px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background: #eee;
    color: #333;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff; */
    cursor: default;
  }

  .tag span{
    font-size: 1.1rem;
  }

  .tag i {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
    cursor: pointer;
  }

  .tag i:hover{
    color: rgb(30, 29, 29);
  }

  .tag-container input {
    padding: 0px;
    width: unset;
    height: unset;
    font-size: 1.2rem;
    border: none;
    flex-grow: 1;
    outline: none;
    color: #333;
  }
