@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root{
    --font: "'Inter', sans-serif"
}

.loader{
    margin: 30vh 30vw;
    position: absolute;
}

.create_box{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 30px;
    height: max-content;
    width: 76vw;
    justify-content: space-between;
}

.create_box h1{
    color: rgba(128, 128, 128, 0.755);
    font-size: 26px;
}

.entries{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.entries div{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    font-family: var(--font);
    
}

.entries div label small{
    color: red;
}


.left_entry_box{
    display: flex;
    flex-direction: column;
    font-size: 21px;
    color: rgba(128, 128, 128, 0.91);
}

.right_entry_box{
    display: flex;
    flex-direction: column;
    font-size: 21px;
    color: rgba(128, 128, 128, 0.91);
}

.left_entry_box input{
    width: 350px;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 1.1rem;
    font-family: var(--font);
    border: 2px solid rgba(128, 128, 128, 0.471);
    border-radius: 5px;
    padding-left: 25px;
    
}

.left_entry_box textarea{
    width: 350px;
    height: 32px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 1.1rem;
    font-weight: 100;
    font-family: var(--font);
    border: 2px solid rgba(128, 128, 128, 0.471);
    border-radius: 5px;
    padding-left: 25px;
    resize: none;
    padding-top: 12px;
    display: block;
    overflow: hidden;
}


.right_entry_box input{
    width: 350px;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 1.1rem;
    font-family: var(--font);
    border: 2px solid rgba(128, 128, 128, 0.471);
    border-radius: 5px;
    padding-left: 25px;

}

.right_entry_box select{
    width: 374px;
    height: 46px;
    margin-bottom: 23px;
    margin-top: 12px;
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgba(128, 128, 128, 0.471);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}


.submit_button{
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
    width: 250px;
    height: 45px;
    font-size: 17px;
    color: red;
    font-weight: 400;
    padding: 7px;
    margin-left: 320px;
    margin-top: 25px;
    cursor: pointer;
}

#smrp {
    display: none;
}
#ssp{
    display: none;
}
.price_label{
    display: none;
}
