.review_details{
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 15% 16% 8% 28% 12% 17%;
    height: max-content;
    align-items: center;
    font-size: 17px;
    border-radius: 5px;
    color: rgba(46, 43, 43, 0.808);
    margin-bottom: 28px;
    margin-left: -10px;
}

.review_details span{
    text-align: center;
    word-wrap: break-word;
    /* width: inherit */
    
}