.side_navbar {
  display: inline-block;
  height: 100vh;
  width: 18vw;
  display: flex;
  position: sticky;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #80808033;
}

.creators_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 47px;
  text-decoration: none;
  color: #746f6f;
}

.c_pic {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
  border-radius: 150px;
}

.c_name {
  font-size: 1.5rem;
  font-weight: bold;
}

.c_email {
  font-size: 1.1rem;
  margin-top: 1px;
  font-weight: 490;
}

.nav_items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: 15px;
    top: 60px;
    position: relative;

}

.nav_items a{
  color: #746f6f;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  width: 85%;
  height: 41px;
  text-align: left  ;
  padding: 12px 0;
  padding-left: 55px;
  border-left: 8px solid white;
  text-decoration: none;
}



.items{
    list-style: none;
}

.nav_items a:hover{
    border-left: 8px solid red;
    color: red;
}

a.active{
  border-left: 8px solid red;
    color: red;
}