.usercount{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(215, 207, 207, 0.637);
}

.countbox{
    border: 2px solid black;
    background-color: white;
    width: 20vw;
    height: 30vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.countbox h1{
    font-size: 2.4rem;
    
}