.privacy_policy{
    font-size: 1.1rem;
    width: 60%;
    margin: 40px auto;
}

.privacy_policy h1{
    text-align: center;
    margin: 18px 0;
    font-size: 2.5rem;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

.privacy_policy h2{
    margin-top: 30px;
    margin-bottom: 12px;
    font-size: 1.3rem;
    color: rgb(84, 81, 81);
}